.App {}

#root {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 50%;
}

#root_trigger-defs {}

#root_states {}

#root_states__title {
  font-weight: bold;
}

#root_states__description {
  font-weight: bold;
}

#root_trigger-defs__title {
  font-weight: bold;
}

#root_trigger-defs__description {
  font-weight: bold;
}

#formSourceModal {
  width: 75%;
  height: 100;
  margin-top: 100px;
}

#modalContentJson {
  overflow-x: scroll;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
}

.div {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}